@media all and (min-width: 1024px) {
    .navigation-item {
        width: 33.3vw;
    }

    .card {
        width: 33.3%;
        margin: 50px auto;
    }

    .themes-item {
        width: 30vw;
    }
}