.back_desk {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    };
.box {
    padding-top: 50px;
    color: white;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   };
.box__technology{
    height: 150px;
    width: 100%;
    text-align: center;
     };
.forum,.library  {
    margin-top: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    width: 150px;
    color: rgb(66, 66, 66);
    font-size: 25px;
};
.library:hover{
    filter: drop-shadow(0px 0px 10px white);
};
.forum:hover{
    filter: drop-shadow(0px 0px 10px white);
};
@media screen and (min-width: 768px) {
    .box__technology{
    height: 300px;
    width: 100%;
    text-align: center;
     };
    
}