.wrapper-2 {
    display: table;
    width: 300vw;
}

.wrapper {
    width: 100vw;
    height: 500px;
    background-color: #fff;
    overflow-x: scroll;
    overflow-y: hidden;
}

.wrapper::-webkit-scrollbar{
    display: none;
}

.item-3 {
    display: inline-block;
    width: 80vw;
    background: url("https://tvseriescritic.files.wordpress.com/2016/10/stranger-things-bicycle-lights-children.jpg") -177px 0px no-repeat;
    background-size: cover;
    height: 350px;
    margin: 30px 10vw;
    background-color: red;
    float: left;
}

.item-text {
    display: inline-block;
    color: white;
    margin: 5px;
    font-size: 10px;
}

.menu-content {
    float: right;
    display: inline-block;
    li {
        float: left;
        margin: 0 5px;
        position: relative;
        list-style: none;

    }
    span {
        transition: all 0.3s;
        opacity: 0;
    }
}

.fa-bookmark-o {
    width: 20px;
    height: 20px;
    background: url("../img/bookmark.png");

}
