footer .wrapper {
  box-sizing: border-box;
  margin: 0 auto;
}

.footer {
  display: block;
  box-sizing: border-box;
  min-height: 72px;
  background-color: #3193d0;
  margin-top: 550px;
}

.footer ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
    li{
      padding:20px;
      font: 15px Arial, sans-serif;
    }
    li a{
      text-decoration: none;
      color: #fff;
      text-align: center;
      cursor: pointer;
    }
    li a:hover {
      opacity: 0.5;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer {
    min-height: 90px;
  }

  .footer ul {
    li {
      padding: 20px;
      font: 25px Arial, sans-serif;
    }
  }
}


@media screen and (min-width: 1024px) {
  .footer {
    min-height: 100px;
  }

  .footer ul{
      li {
        padding: 20px;
        font: 30px Arial, sans-serif;
      }
  }
}