@mixin link-color {
        &:link {
            color: #958d8d; 
        }
        &:visited {
            color: white;
        }
        &:hover {
            color: #958d8d;
        }   
}

* {
    margin: 0;
    padding: 0;
}
.logo {
    display: flex;
    flex-direction: row;
    justify-content: start;
    height: 40px;
    padding: 10px;
    background-color: black;
    
    &__image {
        height: 40px;
        padding-right: 10px;
    } 

    &__heading {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        color: white;
        text-align: center;
    }
}

.nav {
    position: relative;
    background-color: white;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    border: 1px solid;
    padding: 10px;
    box-shadow: 0px 3px 5px #888888;

    
    &__icon {
        height: 60px;
        width: 60px;
        
        &:hover>.main-menu {
            display: flex;
        }   
    }

    &__link {
        width: 32px;
        height: 32px;

        @media (min-width: 1024px) {
            display: none;
        } 
    }
}

.main-menu {
    position: absolute;
    top: 62px;
    display: none;
    flex-direction: column;
    list-style-type: none;
    width: 100%;
    font-size: 20px;
    background-color: #222222;
    z-index: 10;

        @media (min-width: 1024px) {
                width: 80%;
        }       

    &__item {
        padding: 10px;
    }


    &__link {
        text-decoration: none;
        color: white;
        @include link-color;

        @media (min-width: 1024px) {

            &:link {
                color: black; 
            }
            &:visited {
                color: black;
            }
            &:hover {
                color: #958d8d;
            }             
        }    
    }         

    @media (min-width: 1024px) {
        display: flex;
        flex-direction: row;
        color: black;
        top: 7px;
        background-color: white;
    } 
}

.search {
    position: absolute;
    top: 19%;
    right: 15%;
}

.log-in {
    position: absolute;
    top: 19%;
    right: 5%;
}
