.library {
    padding-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
.library-articles{
    margin-top: 25px;
    margin-bottom: 25px;
}
.library-articles p {
    margin-top: 10px;
}
.library-articles h2 {
    margin-bottom: 20px;
}
.library-articles h3{
    margin-top: 15px;
}
.video-content {
    margin-top: 25px;
}
.video-content h2 {
    margin-top: 50px;
    margin-bottom: 20px;
}
.links h2 {
    margin-top: 50px;
    margin-bottom: 20px;
}
