main .wrapper{
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 20px;
  min-width: 320px;
  h1{
    margin-bottom: 15px;
  }
  button{
    width: 100%;
    background-color: #feb018;
    color: #fff;
    font: 10px/1 Arial, sans-serif;
    border: none;
    cursor: pointer;
    padding:10px;
    margin-top:10px;
    border-radius: 10px;
  }
  .list-task{
    display: flex;
    flex-direction: column;
    .list-task__name{
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      border-top: #3193d0 solid;
    }
    p{
      font-size: 12px;
      margin-bottom: 10px;
    }
    ul{
      display: flex;
      justify-content: flex-end;
      list-style: none;
      margin-bottom: 15px;
      li{
        padding-right: 15px;
        font-weight: bold;
      }
    }
    .button{
      display: block;
      background-color: #feb018;
      color: #fff;
      font: 10px/1 Arial, sans-serif;
      border: none;
      cursor: pointer;
      padding:10px;
      margin-top:10px;
      border-radius: 10px;
      max-width: 150px;
      text-decoration: none;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  main .wrapper{
    padding: 0 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    h1{
      width: 100%;
    }
    .list-block {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .list-task {
        display: flex;
        flex-direction: column;
        width: 50%;
        padding: 0 2%;
        justify-content: space-between;
        .button {
          font: 15px/1 Arial, sans-serif;
        }
      }

    }
    button {
      max-width: 300px;
      margin-top: 50px;
      font: 15px/1 Arial, sans-serif;
    }
  }
}
@media screen and (min-width: 1024px){
  main .wrapper{
    padding: 0 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    h1{
      width: 100%;
    }
    .list-block {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      .list-task {
        display: flex;
        flex-direction: column;
        width: 50%;
        padding: 0 2%;
        justify-content: space-between;
        .button {
          font: 15px/1 Arial, sans-serif;
        }
        p{
          font-size: 16px;
        }
      }

    }
    button {
      max-width: 300px;
      margin-top: 50px;
      font: 15px/1 Arial, sans-serif;
    }
  }
}