header {
    width: 100vw;
    height: 70px;
    background-color: #3F51B5;
}

.navigation-item {
    display: none;
    position: absolute;
    top: 0;
    width: 100vw;
    height: auto;
    background-color: #fff;
    margin-left: -15px;
    z-index: 9;
}

.navigation-item__head {
    height: 70px;
    width: 100vw;
    background-color: #3F51B5;
}

.navigation {
    display: inline-flex;
    justify-content: space-between;
    width: 100vw;
    height: 70px;
    padding: 15px;
}

.navbar:hover > .navigation-item {
    display: block;
    animation: bounce 0.4s ease-out;
}

@keyframes bounce {
    from {left: -100%}
    to {left: 4%}
}

.logo {
    width: 90px;
    height: 40px;
}

img {
    width: 40px;
    height: 40px;
}

.navbar__button {
    color: #fff;
    margin: 5px;
    font-size: 26px
}

.navbar__button--1 {
    float: right;
    color: #fff;
    font-size: 26px;
    margin: 20px;
    transform: rotate(90deg);
}

.img-item {
    display: inline-block;
    width: 70px;
    height: 70px;
    position: relative;
    top: 10px;
    margin-left: 10px;
}

.name {
    height: 60px;
    line-height: 30px;
    margin-left: 10px;
    margin-bottom: 40px;
    display: inline-block;
    color: #757575;
}

.navigation-item__bottom {
    padding: 20px;
}

.text-item {
    font-size: 26px;
    padding-bottom: 20px;
}

.topmenu-item {
    width: 200px;
    height: 30px;
    padding: 20px 15px;
    list-style: none;

}

.topmenu {
    font-family: 'Open Sans', sans-serif;
}

.topmenu-item__link {
    color: #757575;
    text-decoration: none;
    font-size: 15px;
    margin-left: 10px;
}

.topmenu-item__link:hover {
    color: #3F51B5;
}

.search-item {
    display: none;
    position: absolute;
    animation: slidedown 0.4s ease-out;
    top: 0;
    right: 0;
    background-color: #3F51B5;
    height: 70px;
    width: 100vw;
}

.search:hover > .search-item {
    display: block;
}

.search-item__text {
    margin: 15px auto;
    width: 40%;
    height: 40px;
}

.fa-dot-circle {
    color: #3F51B5;
}

@keyframes slidedown {
    from {top: -15%}
    to {top: 0%}
}