header{
  width: 100%;
  img{
    max-width: 320px;
  }
}
main .wrapper {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 20px;
  .entering {
    display: flex;
    flex-direction: column;
    .entering-form{
      margin-bottom: 15px;
      input{
        width: 100%;
        margin-bottom: 10px;
        font-size: 14px;
      }
    }
    .entering-buttons{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .entering-buttons__login{
        display: flex;
        flex-direction: column;
        width: 40%;
        padding:0 5%;
        justify-content: center;
        text-decoration: none;
        border: #3193d0 groove;

        a {
          width: 100%;
          background-color: #feb018;
          color: #fff;
          font: 10px/1 Arial, sans-serif;
          border: none;
          cursor: pointer;
          padding: 10px;
          margin-top: 10px;
          border-radius: 10px;
          text-align: center;
          text-decoration: none;
          margin-bottom: 10px;
        }
      }
      .entering-buttons__registration{
        display: flex;
        flex-direction: column;
        width: 51%;
        padding: 0 5%;
        border: #3193d0 groove;
        font-size: 12px;
        input{
          margin-top: 10px;
          margin-bottom: 10px;
        }
        a {
          width: 100%;
          background-color: #feb018;
          color: #fff;
          font: 10px/1 Arial, sans-serif;
          border: none;
          cursor: pointer;
          padding: 10px 5px;
          border-radius: 10px;
          text-align: center;
          text-decoration: none;
        }
      }
    }
  }
}

.networks h2 {
  text-align: center;
  margin-top: 50px;
  padding: 10px;
}
.socials {
  margin: auto;
  padding: 0;
  list-style: none;
  display: flex;
  width: 100%;
  max-width: 196px;
  justify-content: space-around;
  align-items: center;
}
.socials li>a{
  display: inline-block;
  width: 32px; height: 32px;
  background-repeat: no-repeat;
}
.socials li>a:hover {
  opacity: 0.5;
}
.bg_facebook{
  background: url(../img/css_sprites.png) -10px -10px;
}
.bg_linkedin {
  background: url(../img/css_sprites.png) -62px -10px;
}
.bg_google {
  background: url(../img/css_sprites.png) -114px -10px;
}
.bg_github {
  background: url(../img/css_sprites.png) -166px -10px;
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  main .wrapper{
    padding: 0 40px;
    .entering{
      margin: auto;
      max-width: 400px;
      font-size: 24px;
      .entering-form{
        margin-bottom: 20px;
        input{
          font-size: 18px;
        }
      }
      .entering-buttons{
        display: flex;
        .entering-buttons__login{
          display: flex;
          a{
            font-size: 16px;
          }
        }
        .entering-buttons__registration{
          display: flex;
          form{
            font-size: 16px;
          }
          a{
            font-size: 14px;
          }
        }
      }
    }

  }
}
@media screen and (min-width: 1024px) {
  main .wrapper{
    padding: 0 60px;
    .entering{
      margin: auto;
      max-width: 600px;
      font-size: 24px;
      .entering-form{
        margin-bottom: 30px;
        input{
          font-size: 18px;
          margin-top: 20px;
        }
      }
      .entering-buttons{
        display: flex;
        .entering-buttons__login{
          display: flex;
          a{
            font-size: 20px;
          }
        }
        .entering-buttons__registration{
          display: flex;
          form{
            font-size: 20px;
          }
          a{
            font-size: 18px;
          }
        }
      }
    }

  }
}
