.category {
  padding: 10px;
}

.category-item__description {
  margin: 5px 0 30px;
}

.test-item__question {
  margin: 30px 0 5px;
}

.test-item {
  margin-bottom: 10px;
}

label {
  margin-left: 5px;
}

.button {
  padding: 15px 30px;
  
}
