main .wrapper {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 20px;
  h1{
    margin-bottom: 15px;
    border-bottom: #3193d0 solid;
    padding-bottom: 10px;
  }
  .favorites{
    display: flex;
    flex-direction: column;
    list-style: none;
    border-bottom: #3193d0 solid;
    .favorites__name{
      display: flex;
      justify-content: space-between;
    }
    ul {
      display: flex;
      justify-content: flex-end;
      list-style: none;
      margin-bottom: 15px;
      margin-top: 10px;
      li {
        padding-right: 15px;
        font-weight: bold;
      }
    }
    button{
        background-color: #feb018;
        color: #fff;
        font: 10px/1 Arial, sans-serif;
        border: none;
        cursor: pointer;
        padding:10px;
        border-radius: 10px;
        margin-top: 10px;
    }
  p{
    margin-bottom: 15px;
  }
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  main .wrapper {
    padding: 0 40px;
    .favorites {
      ul {
        font-size: 26px;
      }
      button {
        font: 18px/1 Arial, sans-serif;
        margin-bottom: 20px;
      }
      p {
        font-size: 18px;
      }
    }
  }
}

@media screen and (min-width: 1024px){
  main .wrapper {
    padding: 0 60px;
    .favorites {
      ul {
        font-size: 28px;
      }
      button {
        font: 24px/1 Arial, sans-serif;
        margin-bottom: 30px;
      }
      p {
        font-size: 20px;
      }
    }
  }
}