header .wrapper {
  min-width: 320px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 160px;
  box-sizing: border-box;
}

.logo img {
  width: 134px;
}

.mainmenubtn {
  background-color: #feb018;
  color: #fff;
  font: 10px/1 Arial, sans-serif;
  border: none;
  cursor: pointer;
  padding:10px;
  margin-top:10px;
}

.mainmenubtn:hover {
  color: #b97d09;

}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-child {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #3791d5;
  width: 113px;
  font: 10px/1 Arial, sans-serif;
  transition-duration: 0.9s;
  transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
    a {
      color: white;
      padding: 10px;
      text-decoration: none;
      display: block;
      transition: left 0.3s linear;
  }
}

.dropdown:hover .dropdown-child {
  display: block;

}

.dropdown-child a:hover {
  opacity: 0.5;
}

