  .wrapper {
    //width: 100%;
    min-width: 320px;
    margin: auto;
    padding: 0 20px;
  }

  .student, .company {
    display: flex;
    flex-direction: row;
  }

  .photo, .logo {
    margin-right: 15px;
  }
  .name p {
    padding: 0;
    margin: 0;
  }

  .skills_list {
    display: flex;
    flex-direction: row;
  }

  .skills, .techologies {
    display: flex;
    flex-direction: column;
    margin: 5px;
    width: 90%;
  }

  .skill_f, .technology_f {
    display: flex;
    flex-direction: column;
    border: solid #3193d0 1px;
    border-radius: 3px;
    width: 98%;
    margin: auto;
    padding: 5px;
  }

  .skill_f {
    margin-bottom: 5px;
  }

  .skill, .technology {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }

  /*.skill_confirm, .technology_confirm {*/
  /*width: 60px;*/
  /*height: 20px;*/
  /*border: solid #3193d0 1px;*/
  /*border-radius: 3px;*/
  /*text-align: center;*/
  /*}*/

  .performed, .tasks {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

  .task {
    border: solid #3193d0 1px;
    border-radius: 3px;
    margin-bottom: 5px;
    padding: 5px;

  }

  .pattern_f, .task_head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    width: 98%;
  }

  .pattern {
    /*border: solid #3193d0 1px;*/
    /*border-radius: 3px;*/
    width: 62%;
    height: auto;
  }

  h4 {
    margin: 5px;
  }

  .add_pattern {
    /*border: solid #3193d0 1px;*/
    /*border-radius: 3px;*/
    width: 36%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .specialisation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .specialisation p {
    border: solid #3193d0 1px;
    border-radius: 3px;
    width: 98%;
    margin: auto;
    padding: 5px;
  }

  .feedback {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .feedback p {
    border: solid #3193d0 1px;
    border-radius: 3px;
    width: 98%;
    margin: auto;
    padding: 5px;
  }

  .control {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
  }

  .button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .button a {
    display: block;
    padding: 5px 20px;
    text-decoration: none;
    background: #feb018;
    border-radius: 5px;
    font: 12px/1 Arial, sans-serif;
    color: #ffffff;
  }

  //.test {
  //  position: absolute;
  //  width: 90%;
  //  height: 90%;
  //  left: 5%;
  //  top: 5%;
  //}

  .question {
    padding: 20px 0;
    border-bottom: solid #3193d0 1px;
  }

  .test_confirm {
    margin-top: 15px;
  }

  .cv {
    display: flex;
    flex-direction: row;
  }

  .cv_icon {
    background: url("../img/cv.png") no-repeat;
    background-size: contain;
    width: 100px;
    height: 120px;
    margin-right: 15px;
  }

  .cv_icon_add {
    background: url("../img/add_cv.png") no-repeat;
    background-size: contain;
    width: 100px;
    height: 120px;
  }

  .tablet, .desk {
    display: none;
  }


@media screen and (min-width: 768px) and (max-width: 1023px) {
  .tablet {
    display: block;
  }

  .skills .desk {
    display: none;
  }
  .skills, .techologies {
    display: flex;
    flex-direction: column;
    margin: 5px;
    width: 43%;
  }
  .pattern_f {
    flex-direction: column;
  }
  .pattern {
    display: flex;
    flex-direction: row;
  }
  .add_pattern {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
  }
}



@media screen and (min-width: 1024px) {

  //.tablet, .desk {
  //  display: block;
  //}

  .skills, .techologies {
    display: flex;
    flex-direction: column;
    margin: 5px;
    width: 32%;
  }

}