*{
    padding: 0px;
    margin: 0px;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
@import "header";
@import "example1";
@import "cabinet.scss";
@import "open-post.scss"
