@import "reset.scss";

body {
  height: auto;
  min-width: 320px;
}

header .wrapper {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  min-height: 95px;
  display: flex;
  justify-content: space-around;
  &--registration {
    display: block;
    background: red;
  }
}

header .logo img {
  width: 140px;
}

header button {
  padding: 3px 6px;
  border-radius: 5%;
  font-size: 15px;
    a{
      text-decoration: none;
    }
}

.section1 {
  background: url(../img/background.png) no-repeat;
  background-size: cover;
  width: 100%;
  height: 305px;
  position: relative;
    .h1 {
      font: 30px Arial, sans-serif;
      color: #fff;
      text-align: center;
      margin: 0 auto;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%)

  }
}

h2 {
  text-align: center;
  padding: 10px 10px;
  font: 20px Arial, sans-serif;
  font-weight: bold;

}

.section2 p{
  padding: 10px 10px;
  text-align: justify;
}

.section3 ul {
  text-align: center;
  li{
    list-style-type: circle;
  }
}

.section4 .company_images {
  display: flex;
  justify-content: center;
}

.section4 .company_images img {
  width: 100px;
  height: 100px;
  padding: 20px;
}

.section5 .feedbacks{
  display: flex;
  justify-content: center ;
    img {
      width: 70px;
      height: 70px;
      margin: 0 30px;
    }
    p{
      padding: 10px;
      text-align: justify;
    }
     .feedback{
      display: flex;
      flex-direction: column;
      align-items: center;
    }

}

@import "styles_registration";











